<!-- footer area start here -->
<footer data-background="{{ 'assets/img/footer-bg.jpg'|theme }}">
    <section class="footer-area pt-115 pb-70">
        <div class="container">
            <div class="row">
                <div class="col-lg-6 col-sm-12">
                    <div class="footer__widget mb-30 wow fadeInUp" data-wow-delay=".3s">
                        <h4 class="footer__widget--title">About Us</h4>
                        <p>For professional air conditioning services contact the skilled
                            and experienced team at Complete Systems today. We will work with you to deliver a
                            comprehensive solution that is designed to match your needs.</p>
                        <div class="copyright__text mt-4 d-none d-md-block">
                            <span>Copyright © 2021 Complete Systems. All Rights Reserved.</span>
                        </div>
                    </div>
                </div>

                <div class="col-lg-6 col-sm-6">
                    <div class="footer__widget mb-30 pl-30 wow fadeInUp" data-wow-delay=".9s">
                        <h4 class="footer__widget--title">Contact Info</h4>
                        <ul class="widget__contact">
                            <!--<li>18 Scott Road, Cranbourne South, VIC 3977</li>-->
                            <li><a href="tel:1300307266">1300 307 266</a></li>
                            <li><a href="mailto:enq@completesystems.com.au">enq@completesystems.com.au</a>
                            </li>
                        </ul>
                    </div>
                </div>
<!--                <div class="col-lg-3 col-sm-6">
                    <div class="footer__widget mb-30 wow fadeInUp" data-wow-delay="1.2s">
                        <h4 class="footer__widget&#45;&#45;title">Newsletter</h4>
                        <p>Get every week update from airvice</p>
                        <form action="#" class="widget__subscribe">
                            <div class="field">
                                <input type="email" placeholder="Enter Email">
                            </div>
                            <button type="submit" class="theme-btn">Subscribe Now</button>
                        </form>
                    </div>
                </div>-->
            </div>
            <div class="copyright__text mt-4 d-md-none">
                <span>Copyright © {{ 'now' | date('Y') }} Complete Systems. All Rights Reserved.</span>
            </div>
        </div>
    </section>
</footer>
<!-- footer area end here -->
